$primary-color: #e74c3c;
$secondary-color: #8e44ad;
$default-font-size: 30px;
$body-text-color: #ff0000;
$border-radius: 0px;
$accordion-button-size: 2rem;
$body-bg-color: #fcff69;

$font-family-base: 'Arial, sans-serif';
$link-hover-color: lighten($primary-color, 20%); 
$input-border-radius: 20px;

@import "../node_modules/bootstrap/scss/bootstrap";

$navbar-bg-color: #d2d450;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$button-hover-bg-color: darken($primary-color, 10%);
$navbar-text-color: #555;
$card-bg-color: #fff;
$button-text-color: #000000;

body {
  color: $body-text-color;
  font-size: $default-font-size;
  background-color: $body-bg-color;

}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

.navbar {
  background-color: $navbar-bg-color;
  color: $navbar-text-color;
}

.card {
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  background-color: $card-bg-color;
}

.btn {
  border-radius: $border-radius;
  color: $button-text-color;
  &:hover {
    background-color: $button-hover-bg-color;
  }
}

.accordion-button {
  font-size: $accordion-button-size;
}

.accordion-item {
  border-radius: $border-radius;
}

a {
  color: $primary-color;
  &:hover {
    color: $link-hover-color; // Applied link hover color
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}